# Week 6

### Table of Contents

0. [Tips for iteration](#bullet0)
1. [Control statements: Repetition](#bullet1)  
2. [Practice](#bullet2)  
3. [Nested for loops](#bullet3)  
4. [break and continue statements](#bullet4)
5. [List comprehensions](#bullet5)
6. [Generator expressions](#bullet7)
7. [Lambda functions](#bullet6)
8. [Pandas apply with lambda functions](#bullet8)
9. [While loops](#bullet9)
10. [Passing functions as arguments](#bullet10)
11. [Handling Exceptions](#bullet11)
12. [Function docstrings](#bullet12)

In [2]:
## importing necessary libraries
import numpy as np
import pandas as pd 
import seaborn as sns

## 0. Tips for iteration <a class="anchor" id="bullet0"></a>

**Iterables in Python**  
Today we will encounter for-loops, where the term iterable becomes important to understand. Iterables refer to an object that can be “iterated over”, such as in a for-loop. An **iterable** is any Python object capable of returning its members one at a time, permitting it to be iterated over in a for-loop.

Familiar examples of iterables include lists, tuples, and strings - any such sequence can be iterated over in a for-loop. We will also encounter important non-sequential collections, like dictionaries and sets; these are iterables as well. It is also possible to have an iterable that “generates” each one of its members upon iteration - meaning that it doesn’t ever store all of its members in memory at once. We dedicate an entire section to generators, a special type of iterator, because they can be so useful for writing efficient code.

Here are some useful built-in functions that accept iterables as arguments:  
- `list`, `tuple`, `dict`, `set`: construct a list, tuple, dictionary, or set, respectively, from the contents of an iterable
- `sum`: sum the contents of an iterable.
- `sorted`: return a list of the sorted contents of an interable
- `any`: returns True and ends the iteration immediately if bool(item) was True for any item in the iterable.
- `all`: returns True only if bool(item) was True for all items in the iterable.
- `max`: return the largest value in an iterable.
- `min`: return the smallest value in an iterable.

Python provides some syntactic “tricks” for working with iterables: “unpacking” iterables and “enumerating” iterables. Although these may seem like inconsequential niceties at first glance, they deserve our attention because they will help us write clean, readable code. Writing clean, readable code leads to bug-free algorithms that are easy to understand. Furthermore, these tricks will also facilitate the use of other great Python features, like comprehension-statements, which will be introduced in the coming sections.

Python provides an extremely useful functionality, known as **iterable unpacking**, which allows us to write the simple, elegant code:

In [12]:
print([5,6,7]) # define list with []s
list((5,6,7))  # Or use the list function on an iterable object, such as a tuple

[5, 6, 7]

[5, 6, 7]

In [14]:
# assigning contents of a list to variables using iterable unpacking
my_list = [7, 9, 11]
x, y, z = my_list
print(x, y, z)

7 9 11

**Iterating through dictionaries**  
When you’re working with dictionaries, iterating over both the keys and values at the same time may be a common requirement. The `.items()` method allows you to do exactly that. The method returns a view object containing the dictionary’s items as key-value tuples

In [16]:
likes = {"color": "blue", "fruit": "apple", "pet": "dog"}
likes.items()  # returns an iterable list, where each element is a tuple of key-value pairs

dict_items([('color', 'blue'), ('fruit', 'apple'), ('pet', 'dog')])

In [58]:
for item in likes.items():
    print(item)

('color', 'blue')
('fruit', 'apple')
('pet', 'dog')

To achieve parallel iteration through keys and values, you just need to unpack the elements of every item into two different variables, one for the key and another for the value:

In [18]:
# Python is space-sensitive when writting for loops!
for key, value in likes.items():
    print(key, "->", value)

color -> blue
fruit -> apple
pet -> dog

Use the `.keys()` and `.values()` methods to iterate through either of these. Note the `.keys` or `.values` attributes do not return an iterable object!

In [22]:
likes.keys()

dict_keys(['color', 'fruit', 'pet'])

In [24]:
for key in likes.keys():
    print(key)

color
fruit
pet

In [26]:
likes.values()

dict_values(['blue', 'apple', 'dog'])

In [28]:
for val in likes.values():
    print(val)

blue
apple
dog

In [32]:
print(likes.keys)
for key in likes.keys: 
    print(key, "->", likes[key]) # Fails bc the .keys and .values attributes do not return an iterable object!

<built-in method keys of dict object at 0x0000024C4CCD4AC0>

TypeError: 'builtin_function_or_method' object is not iterable

##### The enumerate() function
The `enumerate()` function is a good way for accessing an element's index *and* value. This built-in function works by receiving an iterable and creating an iterator that, for each element, returns a tuple containing the element's index and value.

In [34]:
colors = ["red", "orange", "blue"] 
print(type(enumerate(colors)))  # the enumerate class is itslef an iterable object
list(enumerate(colors))         # adds int index starting at 0 since no index was specified

<class 'enumerate'>

[(0, 'red'), (1, 'orange'), (2, 'blue')]

In [36]:
# enumerate() is particularly useful in for loops, since we can use tuple unpacking to access the index and value
for index, value in enumerate(colors):
    print(f'{index}: {value}')

0: red
1: orange
2: blue

##### The zip() function
The `zip()` function allows you to iterate over multiple iterables of data *at the same time*!. Let's look at how it works.

In [39]:
names = ['Bob', 'Sue', 'Amanda']
gpas   = [3.5, 4.0, 3.75]
for name, gpa in zip(names, gpas):
    print(f'Name={name}, GPA={gpa}')

Name=Bob, GPA=3.5
Name=Sue, GPA=4.0
Name=Amanda, GPA=3.75

## 1. Control statements: Repetition <a class="anchor" id="bullet1"></a>

Last week we were introduced to the idea of **control statements**. Recall that Python typically follows **sequential exectuion**, but we as programmers can **transfer control** of the **execution sequence** by using Python's control statements.

Specifically, we learned about `if...elif()` statements, which are formally called **selection statements**, since they determine whether to execute a snippet (or selection) of code based on some set of logical check(s).

This week, we will learn about **repetion statements**. I.E.- Repeating the same operation on different columns or on different datasets. **for loops** and **while loops** are the two kinds of repetition statements available in Python.

Why would we want to repeat a set of operations? There are many many reasons why this could be neccessary, but let's look at an example.

In [189]:
# Generate random test data with a standard normal distribution, X ~ N(0, 1)
rng = np.random.default_rng(seed=3252)

a = rng.standard_normal(10)
b = rng.standard_normal(10)
c = rng.standard_normal(10)
d = rng.standard_normal(10)

the_dict = {'a':a,'b':b,'c':c,'d':d}

df = pd.DataFrame(the_dict)

We want to compute the median of each column. You could do with copy-and-paste:

In [56]:
print(np.median(df['a']))
print(np.median(df['b']))
print(np.median(df['c']))
print(np.median(df['d']))

-0.7109216792484936
-0.1607751802165395
-0.7835127395579766
0.43195930703839136

But we want to limit repetition as much as possible to write good code.

Remember the __DRY PRINCIPLE: DO NOT REPEAT YOURSELF__. for loops help uphold this principal and are a good choice when you have to apply the same set of actions to some iterable object.

In [60]:
### iteration using a for loop
output = []  # BEFORE you start looping, create object to hold output
for i in df.columns:
    output.append(round(np.median(df[i]),2))
output

[-0.71, -0.16, -0.78, 0.43]

for loops are an essential method for repeating an action or several actions sveral times, usually iterating through some items in a sequence. __Every for loop has three components:__

1) __Output:__ You must always allocate sufficient space for the output
* Needs to be same structure as final output of your code
* Typically we will create an empty list (or tuple) to store the for loop output

2) __The sequence:__ `for i in df.columns` (or more generally, for index in interable). This determines what to loop over: 
* Each run of the for loop will assign i to a different value from 
* `seq_along(df)`

3) __The body:__ `output.append(round(np.median(df[i]),2))`. This is the code that does the work. 
* It's run repeatedly, each time with a different iterable object i, which in this case is another column of the df DataFrame. 
* The first iteration will run `output.append(round(np.median(df[1]),2))`, the second will run `output.append(round(np.median(df[2]),2))`, and so on

We can also use for loops to modify an existing object, instead of creating a new object.

In [65]:
def rescale01(col):
    return (col - min(col)) / (max(col)-min(col))

In [67]:
# now we want to apply the rescale function to every column in df
for i in df.columns:
    df[i] = rescale01(df[i])  # We are updating/overwriting all columns one at a time with df[i]
df

          a         b         c         d
0  0.378160  0.697880  0.724405  0.799334
1  1.000000  0.625172  0.104182  1.000000
2  0.851415  0.000000  0.434190  0.563560
3  0.301918  0.475349  0.600138  0.896251
4  0.234498  0.899496  0.319713  0.336876
5  0.705006  0.820205  0.243673  0.505414
6  0.435961  0.442933  1.000000  0.000000
7  0.224704  1.000000  0.110154  0.641517
8  0.000000  0.515029  0.563276  0.543733
9  0.415501  0.529946  0.000000  0.121319

In [193]:
# Pro tip: For troubleshooting where your code is failing, you can use explicit print statements.
# Let's add a string column, which will fail when using the rescale01() function
df2 = df.copy()
df2['e'] = [str(i) for i in range(0, 10)]
type(df2['e'][0])
for i in df2.columns:
    print(i) # fails when it gets to string col e
    df2[i] = rescale01(df2[i])  # We are updating/overwriting all columns one at a time with df[i]
df

a
b
c
d
e

TypeError: unsupported operand type(s) for -: 'str' and 'str'

## 2. Practice with for loops <a class="anchor" id="bullet2"></a>

a) Compute the mean of every column in df.

b) Determine the type of data each column holds.

c) Compute the number of unique values in each column of iris.

In [108]:
from sklearn import datasets # to load iris dataset
iris0 = datasets.load_iris()
iris = pd.DataFrame(data=iris0.data, columns=iris0.feature_names)
iris

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

In [112]:
# An aside: notice that when we use the sklearn library to load the iris dataset, the dataset is imported 
# as a sklearn.utils.Bunch object. 
# Tip: Unless you want to learn about methods, attributes, functions that work on this type of object, use a pd object !
print(type(iris0))
print(type(iris))

<class 'sklearn.utils._bunch.Bunch'>
<class 'pandas.core.frame.DataFrame'>

[35, 23, 43, 22]

d) Write a function that prints the mean of each numeric column in the iris dataframe. This for loop will need to check whether each dtype is numeric. If it is, then you will compute and store the mean, adding it to a list object.

## 3. Nested for loops <a class="anchor" id="bullet3"></a>

Often, we will need to use **nested for loops** when you need to iterate over multiple iterables at once. Most commonly, I've used nested for loops when there are two sets of iterables you need to iterate through. For example, suppose I wanted to quickly make a list of all potential outcomes I could get from rolling two different dice.

In [118]:
x = [1, 2, 3, 4, 5, 6]
y = [1, 2, 3, 4, 5, 6]
output = []

for i in x:
  for j in y:
    output.append(f'Die 1:{i}, Die 2:{j}')

print(output)

['Die 1:1, Die 2:1', 'Die 1:1, Die 2:2', 'Die 1:1, Die 2:3', 'Die 1:1, Die 2:4', 'Die 1:1, Die 2:5', 'Die 1:1, Die 2:6', 'Die 1:2, Die 2:1', 'Die 1:2, Die 2:2', 'Die 1:2, Die 2:3', 'Die 1:2, Die 2:4', 'Die 1:2, Die 2:5', 'Die 1:2, Die 2:6', 'Die 1:3, Die 2:1', 'Die 1:3, Die 2:2', 'Die 1:3, Die 2:3', 'Die 1:3, Die 2:4', 'Die 1:3, Die 2:5', 'Die 1:3, Die 2:6', 'Die 1:4, Die 2:1', 'Die 1:4, Die 2:2', 'Die 1:4, Die 2:3', 'Die 1:4, Die 2:4', 'Die 1:4, Die 2:5', 'Die 1:4, Die 2:6', 'Die 1:5, Die 2:1', 'Die 1:5, Die 2:2', 'Die 1:5, Die 2:3', 'Die 1:5, Die 2:4', 'Die 1:5, Die 2:5', 'Die 1:5, Die 2:6', 'Die 1:6, Die 2:1', 'Die 1:6, Die 2:2', 'Die 1:6, Die 2:3', 'Die 1:6, Die 2:4', 'Die 1:6, Die 2:5', 'Die 1:6, Die 2:6']

In [120]:
# another example
adj = ["red", "big", "tasty", "big tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry
big tasty apple
big tasty banana
big tasty cherry

# 4. break and continue statements <a class="anchor" id="bullet4"></a>

`break` and `continue` statements alter a loop's flow of control. Executing a **break** statement in a while (more on this later) or for loop immediately exits the loop.

In [124]:
for number in range(100):
    if number == 10:
        break
    print(number, end = '  ')  # Breaks at 10, before printing

0  1  2  3  4  5  6  7  8  9

Executing a **continue** statement while in a loopskips the remainder the loop's commands. In a for loop, the loop simply processes the next item in the sequence (if any). In a while loop, the condition is then tested to determine whether the loop should continue executing.

In [127]:
for number in range(10):
    if number == 5:
        continue
    print(number, end = '  ')  # notice the 5 is skipped !

0  1  2  3  4  6  7  8  9

## 5. List comprehensions<a class="anchor" id="bullet5"></a>

**List comprehensions** allow you to concisely create a new list by either transforming or filtering the elements of another collection. They are similar to for loops in how they iterate through the elements of an iterable.

In [136]:
list1 = []
for item in range(1,6):
    list1.append(item)
print(list1)
list2 = [item for item in range(1,6)] # Use a list comprehension for more concise syntax
print(list2)
list3 = list(range(1,6))  # Even shorter way, but much more limited in what you can do as we will see below
print(list3)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]

In [ ]:
# structure of a list comprehension:
[do_something for value in collection if condition]

# equivalent:
output = []
for value in collection:
    if condition:
        output.append(do_something)

In [138]:
# example: 
strings = ["a", "as", "bat", "car", "dove", "python"]
[x.upper() for x in strings if len(x) > 2]

['BAT', 'CAR', 'DOVE', 'PYTHON']

In [ ]:
# structure of a dictionary comprehension:
dict_comp = {key-expr: value-expr for value in collection if condition}

In [ ]:
# structure of a set comprehension:
set_comp = {expr for value in collection if condition}

We can also use nested list comprehensions:

In [142]:
sublist

NameError: name 'sublist' is not defined

In [144]:
# 2-D List of planets
planets = [['Mercury', 'Venus', 'Earth'], ['Mars', 'Jupiter', 'Saturn'], ['Uranus', 'Neptune', 'Pluto']]
print(planets)
# print(planets.shape) Doesn't work!

# Nested List comprehension with an if condition
flatten_planets = [planet for sublist in planets for planet in sublist if len(planet) < 6]
print(flatten_planets)

[['Mercury', 'Venus', 'Earth'], ['Mars', 'Jupiter', 'Saturn'], ['Uranus', 'Neptune', 'Pluto']]
['Venus', 'Earth', 'Mars', 'Pluto']

In [146]:
all_data = [["John", "Emily", "Michael", "Mary", "Steven"],
            ["Maria", "Juan", "Javier", "Natalia", "Pilar"]]

In [148]:
result = [name for names in all_data for name in names if name.count('i') >= 1]

In [150]:
result

['Emily', 'Michael', 'Maria', 'Javier', 'Natalia', 'Pilar']

In [152]:
# equivalent to this for loop:
result2 = []
for names in all_data:
    for name in names:
        if name.count('i') >= 1:
            result2.append(name)
result2

['Emily', 'Michael', 'Maria', 'Javier', 'Natalia', 'Pilar']

## 6. Generator expressions <a class="anchor" id="bullet7"></a>

A **generator expression** is similar to a list comprehension, but creates an iterable **generator object** that produces values only *on demand*. This is known as **lazy evaluation**. List comprehension use **greedy evaluation**, they create lists immediately when you execute them. For large numbers of items, creating a list can take substantial memory consumption and improve the performance if the whole list is not exectuted at once. 

Generator expressions have the same capabilities as list comprehensions, but you define them in parentheses instead of square brackets. For example:

In [176]:
numbers = [10, 4, 5, 3, 3, 5, 7, 9, 1]
for value in (x ** 2 for x in numbers if x % 2 != 0):
    print(value, end='  ')

25  9  9  25  49  81  1

To show that a generator expression does not create a list, let's assign the preceding snippet's generator expression to a variable and evaluate the variable:

In [179]:
square_of_odds = (x ** 2 for x in numbers if x % 2 != 0)
square_of_odds

The text "<generator object \<genexpr\>" indicates that the square_of_odds is a generator object that was created from a generator expression (genexpr).

## 7. Lambda Functions<a class="anchor" id="bullet6"></a>

**Lambda functions**, also known as **anonymous functions**, are short functions that are easily defined but with less clarity/documentation then a standard function would have. 

Structure of lambda functions consists of three parts:
* __The Keyword__: lambda
* __A bound variable:__ x
* __A body:__ x + 1

In [163]:
add_one = lambda x: x + 1
add_one(2)

3

In [164]:
# The above lambda function is equivalent to writing this:
def add_one(x):
    return x + 1
add_one(2)

3

In [165]:
(lambda x, y: x + y)(2, 3)  # we are passing 2 and 3 as x and y respectively

5

Why lambda functions? They allow you to write functions in a quick and dirty way. Usually we write these functions when we need to pass some arbitrary function to another function. For example, the `map()` function takes a function and applies it to each element in a sequence/list (this is similar to broadcasting). 

To use the `map()`, we might need to raise each element to some arbitrary exponent, like 2.245. In this case, lambad functions allow us to quickly so this since base Python does not come with such a function.

In [170]:
nums = [1, 10, 100]

square_all = map(lambda x: x ** 2.245, nums)

print(square_all)  # Map returns a map object using lazy evaluation

<map object at 0x0000024C52151BD0>

In [172]:
print(list(square_all))

[1.0, 175.7923613958693, 30902.95432513592]

## 8. Pandas apply with lambda functions<a class="anchor" id="bullet8"></a>

The **apply** function takes in a function and applies it to all items within a series. Objects passed to the function are Series objects whose index is either the DataFrame’s index (axis=0) or the DataFrame’s columns (axis=1). Read about these functions here: [pd.DataFrame.apply](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.apply.html)

In [195]:
df2 = df.apply(np.mean, axis = 1) # Row means (takes the mean across the columns, hence axis=1)
df2

0    0.280663
1    0.217212
2   -0.510782
3   -0.013346
4   -0.314173
5   -0.032878
6   -0.284667
7   -0.178175
8   -0.461314
9   -0.988423
dtype: float64

In [197]:
df2 = df.apply(np.mean, axis = 0) # Col means (takes the mean across the rows, hence axis=0)
df2

a   -0.565180
b   -0.073327
c   -0.669364
d    0.393518
dtype: float64

In [203]:
# lambda function we defined earlier, notice the behavior here is to broadcast this function
# In other words, we are applying this function element by element as opposed to computing a function across multiple elements
df2 = df.apply(add_one) 
df2

          a         b         c         d
0  0.242071  1.295862  1.417556  2.167163
1  1.807697  1.019923 -0.726416  2.767645
2  1.433601 -1.352702  0.414348  1.461624
3  0.050115  0.451323  0.987995  2.457183
4 -0.119631  2.061025  0.018627  0.783286
5  1.064981  1.760106 -0.244226  1.287626
6  0.387600  0.328299  2.370228 -0.224794
7 -0.144289  2.442454 -0.705773  1.694906
8 -0.710033  0.601912  0.860570  1.402294
9  0.336085  0.658527 -1.086549  0.138246

In [205]:
# Because this function makes use of broadcasting, there is no difference between axis=0 or axis=1
df.apply(add_one, axis=0) == df.apply(add_one, axis=1) # Same result since element-wise function was called

      a     b     c     d
0  True  True  True  True
1  True  True  True  True
2  True  True  True  True
3  True  True  True  True
4  True  True  True  True
5  True  True  True  True
6  True  True  True  True
7  True  True  True  True
8  True  True  True  True
9  True  True  True  True

One of the most useful aspects of Python's `lambda()` function is that they can be defined and passed on the fly to the apply functions. For example:

In [208]:
df3 = df.apply(lambda x: x + 1) # add_one
df3 # equal to df2

          a         b         c         d
0  0.242071  1.295862  1.417556  2.167163
1  1.807697  1.019923 -0.726416  2.767645
2  1.433601 -1.352702  0.414348  1.461624
3  0.050115  0.451323  0.987995  2.457183
4 -0.119631  2.061025  0.018627  0.783286
5  1.064981  1.760106 -0.244226  1.287626
6  0.387600  0.328299  2.370228 -0.224794
7 -0.144289  2.442454 -0.705773  1.694906
8 -0.710033  0.601912  0.860570  1.402294
9  0.336085  0.658527 -1.086549  0.138246

## 9. While loops <a class="anchor" id="bullet9"></a>

A **while** loop allows you to repeat one or more actions while a condition remains True. The syntax is highly similar to a for loop. Genearlly speaking while loops are not as useful as for loops, so you should be aware of while loops by my suggestion is you should focus on mastering for loops first if both of these concepts are new to you.

In [211]:
product = 3
while product <= 50:
    print(product)
    product = product * 2

3
6
12
24
48

**Warning**: While loops can get stuck in an infinite loop! So you must be careful when using these! You can use a break statement to help prevent infinite loops from opening up.

In [214]:
n = 5
while n > 0:
    n -= 1
    if n == 2:
        break
    print(n)
print('Loop ended.')

4
3
Loop ended.

## 10. Passing functions as arguments <a class="anchor" id="bullet10"></a>

In [18]:
# Let's compute column means with a for loop:
output = []

for i in df.columns:
    mean = np.mean(df[i])
    output.append(mean)
    
output

[-0.5651802647782048,
 -0.07332713554716727,
 -0.6693640830516738,
 0.3935178923880054]

What if you wanted to loop over the column means, and wanted to use other functions to crunch the numbers on that axis. Well, we could make separate functions to do this, such as the `col_median()` and the `col_std()` functions below.

In [219]:
def col_median(df):
    output = []
    for i in df.columns:
        output.append(np.median(df[i]))
    return output

def col_std(df):
    output = []
    for i in df.columns:
        output.append(np.std(df[i]))
    return output

But, we can make this better through functional programming and the **DRY** principle. It turns out that you can *pass a function as an input parameter into another function!!*

In [222]:
# Create function which applies any arbitrary function over the columns
def col_computations(func, df):
    output = []
    for i in df.columns:
        computation = func(df[i])
        output.append(computation)
    return output

In [224]:
col_computations(np.mean, df)

[-0.5651802647782048,
 -0.07332713554716724,
 -0.6693640830516736,
 0.3935178923880054]

In [226]:
col_computations(np.median, df)

[-0.7109216792484936,
 -0.1607751802165395,
 -0.7835127395579766,
 0.43195930703839136]

In [228]:
col_computations(np.std, df)

[0.7368890274704306, 1.018866356682112, 1.0338772433992203, 0.9105999606403393]

## 11. Handling Exceptions <a class="anchor" id="bullet11"></a>

An **exception** is an event which occurs during the execution of a program that __disrupts the normal flow of the program's instructions.__ In general, when a Python script encounters a situation that it cannot cope with, it raises an exception. __An exception is a Python object that represents an error.__ There are many different types of errors/exceptions that we will encounter in the Python langauge.

In [232]:
# An example: 
10 / 0

ZeroDivisionError: division by zero

If exceptions occur, they can create run-time errors for your programs which cause them to crash. Below, we will learn how to handle exceptions like a developer!

There are four statements/blocks/clauses that Python has for handling exceptions:
* __try block:__ The `try` block lets you test a block of code for errors.
* __except block:__ The `except` block lets you handle the error.
* __else block:__ The `else` block lets you execute code when there is no error.
* __finally block:__ The `finally` block lets you execute code, regardless of the result of the try- and except blocks.

In [238]:
""" Simple exception handling example """
while True:
    
    try:                                          # attempt to convert and divide
        num1 = int(input('Enter numerator: '))
        num2 = int(input('Enter denominator: '))
        result = num1 / num2
        
    except ValueError:                            # if the user inputs a non-numeric argument, raise an exception
        print('You must enter two integers\n')
    except ZeroDivisionError:                     # if the denom is 0, raise an exception
        print('Attempted to divide by zero\n')
    else:                                         # executes only if no exceptions occur
        print(f'{num1: .3f} / {num2: .3f} = {result: .3f}')
        break

Enter numerator:  "hi"

You must enter two integers

Enter numerator:  5
Enter denominator:  8

 5.000 /  8.000 =  0.625

## 12. Function docstrings <a class="anchor" id="bullet12"></a>

As Datacamp covered, there are many different style conventions when it comes to function documentation. It does not matter which you use, so pick one of the major ones (e.g., javadoc,  reStructuredText (reST), or Numpydoc)  and stick with that. We will use the **Google Style** in this class. Docustrings are very useful for developing IC for a business, where you might develop a function which will be used by many different analysts (this saves you time in the long run, since less peopel will bug you about details related to how your function works!)

In [241]:
def create_docustring(arg_1, arg_2=42):
    """Description of what the function does.
    
    Args:
        arg_1 (str): Description of arg_1 that can break onto the next line
            if needed.
        arg_2 (int, optional): Write optional when an argument has a default
            value.
            
    Returns:
        bool: Optional description of the return value
        
    """

In [243]:
# Use the "?" followed by the function name to access the function's docustrings
?create_docustring

Signature: create_docustring(arg_1, arg_2=42)
Docstring:
Description of what the function does.

Args:
    arg_1 (str): Description of arg_1 that can break onto the next line
        if needed.
    arg_2 (int, optional): Write optional when an argument has a default
        value.

Returns:
    bool: Optional description of the return value

File:      c:\users\nicho\appdata\local\temp\ipykernel_19408\2713870796.py
Type:      function

In [245]:
# An alternative
help(create_docustring)

Help on function create_docustring in module __main__:

create_docustring(arg_1, arg_2=42)
    Description of what the function does.

    Args:
        arg_1 (str): Description of arg_1 that can break onto the next line
            if needed.
        arg_2 (int, optional): Write optional when an argument has a default
            value.

    Returns:
        bool: Optional description of the return value

It is possible to use a tool like *Pyment* to automatically generate docstrings to a Python project not yet documented, or to convert existing docstrings (can be mixing several formats) from a format to an other one.